html {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80%;
  background-color: rgb(239, 237, 240);
  font-family: 'lato', sans-serif;
  color: white;
}
.intro {
  padding: 60px 0;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  border-radius: 5px;
}

.headshot {
  border-radius: 100%;
  width: 190px;
}

.navigation {
  text-align: center;
  padding-bottom: 12px;
}

a {
  padding: 35px;
  text-decoration: none;
  font-size: 1.2em;
  color: rgb(73, 72, 74);
}

p {
  margin: auto;
  width: 85%;
}

h1 {
  font-weight: lighter;
}
